
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Nuestros Juegos</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
				<div class="card">
                    <img src="~/imagenes/img1.jpg" class="card-img-top" alt="Juego 1">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Juego 1</h5>
                        <p class="card-text">Breve descripción del juego.</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/imagenes/img2.jpg" class="card-img-top" alt="Juego 2">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Juego 2</h5>
                        <p class="card-text">Breve descripción del juego.</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/imagenes/img3.jpg" class="card-img-top" alt="Juego 3">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Juego 3</h5>
                        <p class="card-text">Breve descripción del juego.</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/imagenes/img4.jpg" class="card-img-top" alt="Juego 4">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Juego 4</h5>
                        <p class="card-text">Breve descripción del juego.</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/imagenes/img5.jpg" class="card-img-top" alt="Juego 5">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Juego 5</h5>
                        <p class="card-text">Breve descripción del juego.</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="~/imagenes/img6.jpg" class="card-img-top" alt="Juego 6">
                    <div class="card-body">
                        <h5 class="card-title">Nombre del Juego 6</h5>
                        <p class="card-text">Breve descripción del juego.</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>